body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 40px;
    background-color: darkkhaki;
}

input{
    padding: 8px;
    width: 200px;
}

button{
    padding: 8px 15px;
    cursor: pointer;
}

.error{
    color: white;
    background-color: red;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.correcto{
    color: white;
    background-color: green;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.info{
    margin-top: 15px;
    font-weight: bold;
    color: blue;
}